/* General */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --bg-nav: #e35f03;
    --bg-footer: #1b1a1b;
    --bg-pop1: #008000;
    --bg-pop2: #ff0000;
    --bg-heart: #ffffff;
}

/* Header */
.container{
    max-width: 1200px;
    margin: auto;
}

header:first-child div{
    background-color: var(--bg-nav);
}

.d-flex{
    display: flex;
    flex-wrap: wrap;
}

nav{
    color: var(--bg-heart);
    padding: 15px 0;
    justify-content: space-between;
    align-items: center;
    z-index: 3;
}

header div img{
    max-width: 150px;
}

header{
    position: fixed;
    width: 100%;
    z-index: 3;
    box-shadow: 0 1px 3px #666;
}

header div a{
    text-decoration: none;
    color: var(--bg-heart);
    padding: 0 8px;
}

a:hover{
    color: var(--bg-pop2);
    text-decoration: underline;
}

/* main */
.p-top{
    padding-top: 120px;
}

main div img{
    width: 100%;
}

.card{
    width: calc((100% / 3 ) - 20px);
    position: relative;
    margin: 0 10px;
}

.image2{
    display: none;
}

.card:hover .image2{
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    display: block;
    visibility: visible;
}

.red{
    color: var(--bg-pop2);
    font-size: 13px;
}

.line{
    text-decoration: line-through;
    font-size: 13px;
}

.box-heart{
    position: absolute;
    right: 0;
    top: 20px;
    background-color: var(--bg-heart);
    font-size: 25px;
    padding: 12px 18px 12px 18px;
    z-index: 2;
}

.box-pop{
    position: absolute;
    bottom: 100px;
    left: 0;
    z-index: 2;
}

.pop-red{
    background-color: var(--bg-pop2);
    padding: 3px 5px;
}

.pop-green{
    background-color: var(--bg-pop1);
    padding: 3px 5px;
}

.box-heart:hover{
    color: var(--bg-pop2);
}

.m-card{
    margin-top: 50px;
}

/* footer */
.bg-footer{
    background-color: var(--bg-footer);
    padding: 30px 0 ;
}

.s-between{
    justify-content: space-between;
}

footer{
    color: var(--bg-heart);
    margin-top: 80px;
}

footer div a{
    text-decoration: none;
    color: var(--bg-heart);
    padding-right: 10px;
}

h3{
    font-size: 20px;
    padding-bottom: 10px;
}

footer div h4{
    padding-bottom: 10px ;
}